---
layout: layouts/student
tags: students
pagination:
    data: students
    size: 1
    alias: student
    addAllPagesToCollections: true
permalink: "/vilka-ar-vi/{{student.name | slug}}/"
---
<h2>The student is <span>{{student.name}}</span></h2>