<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/assets/favicon.svg" type="image/x-icon">
        <title>{{titel}}</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/main.js" defer></script>
    </head>
    <body class="h-screen flex flex-col">
        {% include "partials/header.njk" %}
        <div class="h-full grow bg-yellow-500" data-page="{{page.fileSlug}}">
            <main class="h-full flex flex-col items-center justify-center">{{content | safe}}</main>
            {% include "partials/footer.njk" %}
        </div>
    </body>
</html>