---
layout: layouts/base
title: home
---

<section w:grid="~ cols-2" w:p="l" class="sm:(bg-red-500 text-blue-900) md:bg-blue-200"  >
  <svg
    width="256px"
    height="256px"
    viewBox="0 0 1024 1024"
    preservAspectRatio="xMidYMid"
  >
    <circle cx="50%" cy="50%" r="256"/>
  </svg>
  <div class="socials">
    <h3>Se mer av Namn</h3>
    <ul>
      <li>
        <a href="">facebook</a>
      </li>
      <li>
        <a href="">instagram</a>
      </li>
      <li>
        <a href="">linkedin</a>
      </li>
    </ul>
  </div>
  <h2 w:grid="row-start-1 col-start-2">Förnamn Efternamn</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam
    veritatis commodi similique perferendis recusandae earum maxime, temporibus
    tempora consequatur sint repellat labore veniam aut iusto laboriosam facere
    est qui illo libero dolorem sequi aspernatur? Numquam incidunt dolores unde
    sint nisi tempore consequatur ex asperiores minima quos, quae impedit
    officiis quo?
  </p>
  <div class="alster">
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
  </div>
</section>
<section></section>
<section></section>
<section></section>