.flow {
  > * + * {
    margin-top: var(--step-1, 1em);
  }
  &.cramp {
    > * {
      @apply p-sm;
    }
  }
  &.grow {
    > * {
      flex-shrink: 0;
      flex-basis: 100%;
      @apply bg-light-blue-300;
    }
  }
  &.mandatory {
    scroll-snap-type: y proximity;
    > * {
      scroll-snap-align: start;
    }
  }
}
