<header>
    <nav id="site-nav">
        <ul>
            {% for navpage in nav %}
                <a href="{{navpage.url}}">{{navpage.titel}}</a>
            {% endfor %}
        </ul>
    </nav>
</header>